@page "/"
@inherits BoardBase
<h1>@testCounter</h1>
<h2>Row: @snake.head.value.row Col: @snake.head.value.col Cell: @snake.head.value.cell</h2>
<div class="board" @onkeydown="@KeyDown" tabindex="0">
    @for (int i = 0; i < boardSize; i++)
    {
        <div class="row">
            @for (int j = 0; j < boardSize; j++)
            {
                <div class=@getClassName(@board[i, j], snakeCells)> @board[i, j]</div>
            }
        </div>
    }
</div>


